<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class="container">
<h1>Tervetuloa tietokantapeliin!
</h1>
<br>
Valitse taulut, joista haluat kysymyksiä: (normaalisti kaikki valittuna, valitse ainakin 2) Pisteytys skaalautuu valittujen taulujen määrän mukaan.
<hr>

<form action="/play" method="POST">
    {% for table in db_tables %}
    <input type="checkbox" id={{ table.tablename }} name="game_tables" value={{ table.tablename }} checked>
    <label for= "game_tables"> {{ table.tablename }}</label><br>
    <hr>
    {% endfor %}
    <input type="submit" value="Pelaa">
    <input type="hidden" name="score" value="0">

</form>

<table class="table">
    <h4>Top 3 pelaajaa:</h4>
    <tr>
        <th>Pelaajan nimi</th>
        <th>Pisteet</th>
        <th>Peli kerrat</th>
    </tr>
    {% for row in user_scores %}
    <tr>
        <td>{{ row.player_name }}</td>
        <td>{{ row.score }}</td>
        <td>{{ row[2] }}</td>
    </tr>

    {% endfor %}
</table>
</div>


