<form action="/send" method="POST">
    Viesti: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </form>

    <form action="/result" method="POST">
        <label for="tables">Choose database table:</label>
        <select name="tables" id="tables">
            {% for table in tables %}
                <option value="{{ table.tablename }}">{{ table.tablename }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>