Pisteet: {{ score }}
<hr>
{{ data_to_use }}
<hr>

<form action="/result" method="POST">
    <label for="tables">Choose database table:</label>
    <select name="tables" id="tables">
        {% for table in tables %}
            <option value="{{ table.tablename }}">{{ table.tablename }}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
    <input type="hidden" name="score" value="{{ score }}">
</form>